#main-container{
    width: 100%;
    height: 97vh;
    background-color: rgb(211, 177, 92);
    
    border: 1px rgb(113, 113, 229) solid;
}

#header-container{
    height: auto;
    display: flex;

    margin-top: 5px;
}

#list-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}