#quote-container{
    background-color: #0c369e ;
    margin-bottom: 20px;
    color: #F6F5F5;
    border-radius: 10px;
    padding: 15px;
    #quote-content{
        text-align: center;
        font-weight: 650;
    }
    #author-date{
        text-align: end;
        #author{
            margin-bottom: 0;
            font-weight: 500;
            
        }
        #date{
            margin-top: 0;
            font-weight: 100;
        }
    }
    #tag-container{
        #tag{
            background-color: #EE99C2;
            border: none;
            border-radius: 5px;
            padding:8px;
            margin-right: 5px;
            font-weight: 600;

        }
    }
}