#title{
    display: flex;
    justify-content: center;

    border: 2px solid;
    margin-bottom: 10px;
    background-color: aquamarine;
    p{
        font-weight: 200;
        font-size: larger;
    }
    
}
#input{
    display: flex;
    border: 2px wheat solid;
    justify-content: center;
    background-color: aqua;

    #searchBtn{
        background-color: blanchedalmond;
        color: darkmagenta;
        border: 50px;
    }
}

#display{
    display: flex;
    // grid-template-columns: 2fr 10fr;
    #image{
        img{
            height: auto;
            width: auto;
        }
        
    }
}